<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020122644146-b8ma1mtle6ic9rlunfb0vm2kdhhp427t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020122644146-b8ma1mtle6ic9rlunfb0vm2kdhhp427t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1020122644146-dl90vmeld8jr6am1onbd84oqekqg64sl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9k8oblmrTpSc8vam5dI-q_9sdm31X1zA</string>
	<key>GCM_SENDER_ID</key>
	<string>1020122644146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carverauto.chaseapp</string>
	<key>PROJECT_ID</key>
	<string>chaseapp-8459b</string>
	<key>STORAGE_BUCKET</key>
	<string>chaseapp-8459b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020122644146:ios:a7c74506e3fc1b69cc13ab</string>
	<key>DATABASE_URL</key>
	<string>https://chaseapp-8459b.firebaseio.com</string>
</dict>
</plist>